<div
  class="max-w-4xl mx-auto px-6 py-12 bg-white shadow rounded-lg mt-10 h-[82vh]"
>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10 items-center">
    <div>
      <img
        [src]="product?.thumbnail"
        [alt]="product?.title"
        class="w-full h-auto max-h-[400px] object-contain rounded-md border border-gray-200"
      />
    </div>

    <div *ngIf="product" class="space-y-4">
      <h1 class="text-4xl font-bold text-gray-900">{{ product?.title }}</h1>

      <p class="text-gray-600 text-lg">{{ product?.description }}</p>

      <br />

      <div class="flex gap-3 align-center">
        <p class="text-gray-600 text-lg">Price: {{ product?.price }}</p>
        <p class="text-white w-fit rounded p-2 bg-red-500 text-lg">
          Discount: {{ product?.discountPercentage }}%
        </p>
      </div>

      <p class="text-gray-600 text-lg">Price : 39.35</p>

      <p
        [ngClass]="{
      'text-green-700 bg-green-100': product.stock > 0,
      'text-red-700 bg-red-100': product.stock === 0
    }"
        class="inline-block px-3 py-1 rounded-full text-sm font-semibold"
      >
        {{ product.stock > 0 ? 'In Stock' : 'Out of Stock' }}
      </p>

      <div class="grid grid-cols-2 gap-4 mt-4 text-sm text-gray-700">
        <div>
          <span class="font-semibold">Brand:</span> {{ product?.brand }}
        </div>
        <div>
          <span class="font-semibold">Category:</span> {{ product?.category }}
        </div>
        <div class="col-span-2">
          <span class="font-semibold">Rating:</span>
          <span class="text-yellow-500">
            <ng-container *ngFor="let _ of [].constructor(product?.rating)">
              ★
            </ng-container>
          </span>
          <span class="ml-1 text-gray-500">({{ product?.rating }})</span>
        </div>
      </div>

      <div class="flex gap-4 mt-6">
        <button
          class="bg-blue-600 hover:bg-blue-700 text-white font-semibold px-6 py-2 rounded-full transition"
        >
          Add to Cart
        </button>

        <a
          routerLink="/products"
          class="text-gray-700 font-medium hover:underline flex items-center"
        >
          ← Back to Products
        </a>
      </div>
    </div>
  </div>
</div>
