<section
  id="hero"
  class="min-h-screen bg-cover bg-center relative text-white py-32 px-6 text-center"
  style="background-image: url('https://i.redd.it/y9n02q6uwjw71.jpg')"
>
  <br />
  <br />
  <br />
  <br />
  <div class="max-w-3xl mx-auto">
    <h1 class="text-4xl md:text-7xl font-bold mb-4">Abdallah Mokarb</h1>
    <p class="text-lg md:text-3xl text-gray-300 mb-6">
      .Net Full Stack Dev & Front-End Developer
    </p>
    <a
      href="#portfolio"
      class="inline-block bg-blue-700 hover:bg-blue-500 transition-colors duration-300 text-white font-semibold py-3 px-6 rounded-full shadow-lg"
    >
      View My Work
    </a>
  </div>
</section>
