<section id="skills" class="py-20 px-6 bg-gray-50 text-gray-800">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="text-3xl font-bold mb-10">My Skills</h2>

    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-8">
      <div class="bg-white rounded-lg shadow p-6 hover:shadow-lg transition">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png"
          alt="HTML"
          class="w-12 h-12 mx-auto mb-4"
        />
        <p class="font-semibold">HTML5</p>
      </div>
      <div class="bg-white rounded-lg shadow p-6 hover:shadow-lg transition">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuyLrpuKlKe8VdORfiCe6t0CbdIJoZ_4wynQ&s"
          alt="CSS"
          class="w-12 h-12 mx-auto mb-4"
        />
        <p class="font-semibold">CSS3</p>
      </div>
      <div class="bg-white rounded-lg shadow p-6 hover:shadow-lg transition">
        <img
          src="https://static.vecteezy.com/system/resources/previews/027/127/463/non_2x/javascript-logo-javascript-icon-transparent-free-png.png"
          alt="JavaScript"
          class="w-12 h-12 mx-auto mb-4"
        />
        <p class="font-semibold">JavaScript</p>
      </div>
      <div class="bg-white rounded-lg shadow p-6 hover:shadow-lg transition">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS39YNKxdrZEz00FAZ0QC83nTwrjxNCk4jVXw&s "
          alt="Angular"
          class="w-12 h-12 mx-auto mb-4"
        />
        <p class="font-semibold">Angular</p>
      </div>
    </div>

    <br />
    <a
      href="#"
      class="inline-block bg-[#2657e9] hover:bg-blue-500 transition-colors duration-300 text-white font-semibold py-3 px-6 rounded-full shadow-lg"
    >
      All Skills
    </a>
  </div>
</section>
